# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# Environment Variables
.env

# Database
db.sqlite3

# Media uploads
media/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db